<h1>Produtos</h1>

<div class="products">
    {{#each products}}
        <h2>{{this.name}}</h2>
        <small>{{this.price}}</small>
        <img src="{{this.image}}" alt="{{this.image}}">
        <a href="/products/{{this._id}}">detalhes</a>
    {{/each}}

</div>