<div class="product">
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <small>{{product.price}}</small>
        <img src="{{product.image}}" alt="{{this.image}}">
        <a href="/products/edit/{{product._id}}">editar</a>
        <a href="/products/remove/{{product._id}}">remover</a>
</div>