<h1>Produtos</h1>

<div class="products">
    {{#each products}}
        <div class="product-card">
            <h2>{{this.name}}</h2>
            <small>{{this.price}}R$</small>
            <img src="{{this.featured_image}}" alt="{{this.name}}"/>
            <a href="/products/{{this.sku}}">detalhes</a>
        </div>
    {{/each}}

</div>